name: "@iwsio/mongodb-express-session: PUSH to main"

on:
  push:
    branches: [ main ]
    paths:
      - 'package/**'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  tests:
    if: ${{github.event.pull_request.draft == false && !contains(github.event.head_commit.message, '#skip') }}
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
    uses: iwsllc/workflows/.github/workflows/test.yaml@v5
    with:
      node-version: ${{ matrix.node-version }}
      install-command: npm ci -w package
      test-command: npm test -w package
  version:
    needs: tests
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    concurrency:
      group: 'versioning-automation'
      cancel-in-progress: false
    uses: iwsllc/workflows/.github/workflows/version-as-app.yaml@main
    with:
      ref: main
      cache: npm
      node-version-file: '.nvmrc'
      scope: '@iwsio'
      version-command: npm version patch -ws --include-workspace-root
    secrets:
      IWS_VERSION_BOT_PK: ${{ secrets.IWS_VERSION_BOT_PK}}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  publish:
    needs: version
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/publish.yaml@v5
    with:
      ref: main
      registry-url: https://registry.npmjs.org
      skip-node-auth: true
      node-version-file: '.nvmrc'
      install-command: npm ci -w package
      build-command: npm run build -w package
      publish-command: npm publish -w package --access public
    secrets:
      # This token is used for reading npm packages; use when private packages are used
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
